@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("../public/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("../public/GmarketSansMedium.otf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'GmarketSansTTFMedium', 'GmarketSansMedium', Roboto, Helvetica, Arial, sans-serif;
}