/* @font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("../public/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("../public/GmarketSansMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
} */
@font-face {
  font-family: "GmarketSansMediumWOFF";
  src: url("../public/GmarketSansTTFMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

* {
  font-family: 'GmarketSansMediumWOFF', sans-serif;
}